* {
    user-select: none;
}

.paginationwrap {
    display: "flex";
    align-items: 'center'
}

.names {
    color: white;
    margin: 5px;
}

.avatarURL {
    width: 75px;
    height: 75px;
    border-radius: 10%;
    margin: 5px
}

.usersblock {
    background-color: #898999;
    margin-bottom: 10px;
    margin-top: 10px;
    max-width: 100vh;
}

.userslocation {
    margin: 5px;
}

.usersstatus {
    margin: 5px;
}

.pinPIC {
    width: 25px;
    height: 35px;
    margin-right: 5px;
    margin-left: 5px;
}
.followBTNs {
    margin-left: 5px;
    
}
.followBTN {
    background: olivedrab;
    border: 1px solid rgb(62, 87, 13);
    cursor: pointer;
    transition: 0.3s;
}

.followBTN:hover {
    background: rgb(107, 162, 35);
    border: 1px solid rgb(62, 107, 13);
    cursor: pointer;
}

.unfollowBTN {
    background: rgb(255, 69, 0);
    border: 1px solid rgb(155, 41, 0);
    cursor: pointer;
    transition: 0.3s;
}

.unfollowBTN:hover {
    background: rgb(255, 101, 45);
    border: 1px solid rgb(155, 61, 27);
    cursor: pointer;
}

.pages {
    display: inline-block;
    width: auto;
    height: auto;
    cursor: pointer;
    text-align: center;
    padding: 5px;
    margin: 3px;
    color: white;
    background: rgb(98, 54, 255);
    border-radius: 50%;
    /* font-size: 28px; */
}

.selectedPage {
    font-weight: bold;
    cursor: default;
    background: rgb(164, 139, 255);
    color: black
}
.preloader {
    position: absolute;
    left: 50%;
    top: 50%;
    background: #ffffff1e;
    border-radius: 25px;
}