.navbar {
    grid-area: nav;
    background-color: #0d0d3f;
    padding: 10px;
}
.navbar a {
    text-decoration: none;
    color: whitesmoke;
    font-size: large;
}

.navbar a:hover {
    color: whitesmoke;
}

.navbar a.activeLink {
    font-weight: bold;
    background-color: rgb(51, 51, 255);
}

.navbar div {
    text-align: center;
    margin-bottom: 5px;
}

.navbar > div:hover {
    background-color: rgb(51, 51, 255, 0.5);
    
}

.navbar .links {
    display: block;
    height: 100%;
    width: 100%;
    padding: 10px;
}