body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



[data-theme='white'] {
  --background-color: rgb(161, 161, 161);
  --navbarheader-background: rgb(100, 100, 100);
  --text-navbar: black;
  --text-header-userinfo: black;
  --textarea-background: rgb(202, 202, 202);
  --my-status-background: rgb(202, 202, 202);
  --navbar-hover: rgb(126, 126, 126);
  --navbar-active: rgb(126, 126, 126, 0.5);
}

[data-theme='blue'] {
  --background-color: #2424a8;
  --navbarheader-background: #0d0d3f;
  --text-navbar: whitesmoke;
  --text-header-userinfo: White;
  --textarea-background: #6e6ea8;
  --my-status-background: #6e6ea8;
  --navbar-hover: rgb(51, 51, 255, 0.5);
  --navbar-active: rgb(51, 51, 255);
}
