body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



[data-theme='green'] {
  --background-color: #00ff00;
  --text-primary: white;
  --text-secondary: grey;
  --accent: darkred;
}
[navheader-theme='green']s {
  --background-color: #005f00;
  --text-primary: black;
  --text-secondary: grey;
  --accent: darkred;
}

[content-theme='blue'] {
  --background-color: #2424a8;
  --text-primary: white;
  --text-secondary: grey;
  --accent: darkred;
}

[navheader-theme='blue'] {
  --background-color: #0d0d3f;
  --text-primary: white;
  --text-secondary: grey;
  --accent: darkred;
}
