.postAvatar {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.userName {
    color: sandybrown;
    padding: 5px 10px;
    box-sizing: content-box;
}

.posts {
    background-color: #ffd6afb4;
    padding: 10px 50px 10px 10px;
    margin: 5px 0;
    max-width: 35vw;
}

.avaNname {
    display: flex;
    max-height: 25px;
}
.userMessage {
    padding-left: 60px;
    padding-top: 5px;
    overflow: hidden;
    word-break: break-word;
}

.likeBtn {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    margin: 3px -5px -3px -5px;
}